<ion-header>
  <ion-navbar>
    <ion-title>Foto de Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row>
      <ion-col>
        <ion-label color="primary" text-wrap>{{usuario.nome}}, falta apenas um passo...</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label color="danger" text-wrap>Por favor, selecione uma foto para o seu perfil.</ion-label>
      </ion-col>
    </ion-row>   
    <ion-row>
      <ion-col>
        <button ion-button icon-left color="secondary" full round (click)="selectPhoto()">
          <ion-icon name="image"></ion-icon>
          &nbsp;Selecionar
        </button>
      </ion-col>
    </ion-row>     
    <ion-row>
      <ion-col>
        <button ion-button icon-left color="danger" full round (click)="takePhoto()">
          <ion-icon name="camera"></ion-icon>
          &nbsp;Tirar Foto
        </button>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-item *ngIf="error" no-lines>
      <strong>{{error}}</strong>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-item no-lines>
      <img *ngIf="myPhoto" class="img-responsive" [src]="myPhoto"/>
    </ion-item>  
  </ion-row>

  <ion-row>
    <!-- <button *ngIf="myPhoto" ion-button color="secondary" full round (click)="enviar()"> -->
    <button ion-button color="secondary" full round (click)="enviar()">      
      Enviar
    </button>
  </ion-row> 
  

</ion-content>
