page-login {

    .background{
        background-image: url('../assets/imgs/background_04.jpg');
    }    

    ion-card.card{
        border-radius: 10px;
    }

    .errorMsg{
        color: red;
    }


}
