<ion-header>
    
  <ion-navbar color="default">
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Iniciar
    </ion-title>
  </ion-navbar>

</ion-header>
    

<ion-content class="card-background-page">
  <ion-grid  *ngIf="usuarioLogado.tipo == 1">
    <init-cli [tpsAtds]="tpsAtds"></init-cli>
  </ion-grid>

  <ion-grid *ngIf="usuarioLogado.tipo == 2">
    <init-prof [usuario]="usuarioLogado"></init-prof>
  </ion-grid>  

</ion-content>
