<ion-header>
    
  <ion-navbar color="default">
    <ion-buttons end>
    <button id="notification-button" (click)="navToNotifications()" ion-button clear icon-only>
        <ion-icon name="notifications">
          <ion-badge id="notifications-badge" color="danger">{{getNotifications()}}</ion-badge>
        </ion-icon>              
    </button>    
    </ion-buttons>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h6><ion-icon name="contact"></ion-icon>
      <b>{{usuarioLogado.nome}}</b></h6>
    </ion-title>

  </ion-navbar>

</ion-header>
    

<ion-content class="card-background-page">

  <ion-item>
    <ion-col>
      <button ion-button color="secondary" (click)="increaseBadges()">
        Push
      </button>    
    </ion-col>
    <ion-col>
      <button ion-button color="danger" (click)="clearBadges()">
        Clear
      </button>
    </ion-col>
    <ion-col>
      <button ion-button color="primary" (click)="clearNots()">
        Clear Nots
      </button>
    </ion-col>    
  </ion-item>

  <ion-grid  *ngIf="usuarioLogado.tipo == 1">
    <init-cli *ngIf="tpsAtds" [tpsAtds]="tpsAtds" (tpAtdSelect)="initProposta($event)"></init-cli>

    <ion-row *ngIf="!tpsAtds">
      <ion-col col-6 *ngFor="let fake of fakeItems" >
        <button ion-item no-lines class="fakeItem--line"> 
          <h1></h1>
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="usuarioLogado.tipo == 2">
    <init-prof [usuario]="usuarioLogado"></init-prof>
  </ion-grid>  

</ion-content>
