page-home {

    h1{
        color: #fff;
        font-size: 2em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .background{
        background-image: url('/assets/imgs/background_04.jpg');
    }   

    .info{
        color: darkkhaki;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    
}
    