page-welcome {

    .container{
        margin-top: 150px;
    }    

    .background{
        background-image: url('../assets/img/background_07.jpg');
    }    

    .welcome{
        color:white;
    }

}
